body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.main {
    flex: 1;
}

h1 {
    font-size: 5rem;
}

footer {
    text-align: right;
    color: midnightblue;
}
.card {
    width: 45%;
}
.tile-image {
    width: 45%;
    /*height: 200px;*/
    float: left;
    margin-right: 10%;
}
.left {
    float: left;
}
.right {
    float: right;
}

.creative {
    color: midnightblue;
}

@media (max-width: 680px) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    /*.card {
        display: block;
    }*/
}
