body {
    background-color: black;
}

#meme {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
#meme_image {
    border: 5px solid white;
    width: 100%;
}
#meme_title {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}
